{% extends 'base.html.twig' %}

{% block title %}MAJ API{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>on est dans la page de mise à jour de l'API ✅</h1>

    
</div>
{% endblock %}
