{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<h1 class="text-center text-white bg-dark">Accueil</h1>
		<div class="row product-info">
			<div class="col-sm-8 accueil">
				<h3>Instructions</h3>
				<p>
					Le principe est simple, choisissez votre super héro et cliquez sur le bouton "jouer avec ..." voir plus bas ou dans le menu Héro
				</p>
				<p>ensuite vous vous déplacez et au gré de votre voyage vous pouvez rencontrer diverses choses
				</p>
				<ol>
					<li>
						des objets, pièges ou potions qui modifieront vos caractéristiques négativement ou positivement</li>
					<li>
						des armes qui augmenteront vos capacités (mais vous n'avez que deux mains, il va falloir choisir)</li>
					<li>
						des ennemis qu'il vous faudra combattre...</li>
				</ol>
				<div class="col-sm-12 text center">
					<p>Bon courage !
					</p>
				</div>
			</div>
			<div class="col-sm-3 accueil">
				<h3>Team4</h3>
				<p>
					David
				</p>
				<p>
					Nassim
				</p>
				<p>
					Christophe
				</p>
				<p>
					Loïc
				</p>
				<p>
					Jean-François
				</p>
			</div>
			<div class="col-sm-12 text-center">
				<img class="compass" src="{{ asset('build/images/uncle_sam.gif') }}" alt="compass">
			</div>
			<div class="container-fluid text-center">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="text-white bg-dark">Choisir parmi les gentils</h2>
						<a class="btn btn-success btn-lg" href="{{ path('hero_gentils') }}">Les gentils</a>
						<br>
						<br>
						<h2 class="text-white bg-dark">Choisir parmi les mechants</h2>
						<a class="btn btn-success btn-lg" href="{{ path('hero_mechants') }}">Les méchants</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
