{% extends 'base.html.twig' %}

{% block title %}MàJ API!{% endblock %}

{% block body %}
<div>
    <h1>Voici les gentils ✅</h1>

{# futur code pour trier les gentils par la première lettre
    {% for letter in alphabet %}
    {{ letter }}
    {% endfor %}
#}

<div class="container-fluid">
    <div class="row index">
        {% for gentil in gentils %}
            <div class="col-lg-4 text-white">
                <a href="{{ path('hero_details', {'id': gentil.id }) }}"> {{ gentil.name }} - {{ gentil.publisher }}</a>
            </div>
        {% else %}
            <p><em>la table est vide</em></p>
        {% endfor %}
    </div>
</div>

</div>
{% endblock %}
