{% extends 'base.html.twig' %}

{% block title %}MàJ API!{% endblock %}

{% block body %}
<div>
    <h1 class="text-white bg-dark">Voici les mechants ✅</h1>

    <div class="container-fluid">
    <div class="row index">
    {% for mechant in mechants %}
        <div class="col-lg-4 text-white">
            <a class="text-white bg-dark" href="{{ path('hero_details', {'id': mechant.id }) }}">
                {{ mechant.name }} - {{ mechant.publisher }}
            </a>
        </div>
    {% else %}
        <p><em>la table est vide</em></p>
    {% endfor %}
    </div>
</div>
{% endblock %}
