{% extends 'base.html.twig' %}

{% block title %}Liste
{% endblock %}

{% block body %}
	<div>
		<main class="page service-page">
			<section class="clean-block clean-services dark">
				<div class="container">
					<div class="row">
						{% for mechant in mechants %}
							<div class="col-md-6 col-lg-3">
								<div class="card"><img class="card-img-top w-100 d-block" src="{{ mechant.image }}">
									<div class="card-body">
										<h4 class="card-title">{{ mechant.name }}</h4>
										<p class="card-text">{{ mechant.race }}</p>
									</div>
									<div>
										<button class="btn btn-outline-primary btn-sm" type="button">
											<a href="{{ path('hero_details', {'id': mechant.id }) }}">Voir le mechant</a>
										</button>
									</div>
								</div>
							</div>
						{% else %}
							<p class="text-white bg-dark">
								<em>la table est vide</em>
							</p>
						{% endfor %}
					</div>
				</div>
			</section>
		</main>
	{% endblock %}
