@import "~bootstrap";
@import 'map.scss';
@import "style.scss";
@import 'hero.scss';
body {
    background-color: lightgray;
}

.index {
    text-align: center;
}

.center {
    text-align: center;
}

.img-perso {
    max-width: 100%;
    height: 100%;
}

.stats {
    text-align: center;
}
