@import "~bootstrap";
@import 'map.scss';
@import "style.scss";
@import 'hero.scss';
body {
    background-color: lightgray;
}

.index {
    text-align: center;
}

.hero a:link{
    text-decoration: none;
    color: white;
    background-color: tomato;
}

.center {
    text-align: center;
}
