{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Add a new Perso{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Perso</h1>
        <div class="row">
            {{ include('perso/_form.html.twig') }}
        </div>
        <a href="{{ path('perso_index') }}">back to list</a>
    </div>
{% endblock %}
